<!DOCTYPE html>
<html>
{% extends 'app_tareas/plantilla_base.html' %}

{% block contenido %}


    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Salir</a>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'login' %}">Ingresar</a>   </p></p>
    
    
    <body style="background-color: rgb(239, 237, 237);">
                
        

        <h2><a><b>Planificación <p></p>de Tareas </b></a></h2> 
    
        <br><br/>
        
            <img src="https://us.123rf.com/450wm/rawpixel/rawpixel1409/rawpixel140900999/31300598-hombres-de-negocios-con-engranajes-y-trabajo-en-equipo-concepto.jpg?ver=6" 
            align="right";align = "top" />
        

    </body>
 <br><br/>
 <br><br/>
 <br><br/>
 <br><br/>
 <br><br/>
 <br><br/>
 <br><br/>
 <br><br/>


{% endblock %}
</html>