{% extends 'app_tareas/plantilla_base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}

<div class='container'>
    <h2>Usuarios</h2>
    <form action="" class="formulario_tareas" method="POST">
        {% csrf_token %}
        <p>se va a eliminar el usuario: "{{usuario}}"</p>
        <button type="submit" , id="btnEnviar", class="btn btn-primary btn-sm">Eliminar</button>
        <a href="{% url 'usuarios' %}" class="btn btn-primary btn-sm">Volver</a>           
    </form>

</div>

{% endblock contenido %}