<!DOCTYPE html>
<html>
{% extends 'app_tareas/plantilla_base.html' %}



{% block contenido %}

{% if request.user.is_authenticated %}


{% else %}


<title>ACERCA DE NOSOTROS</title>

<body>
    <p>Nuestro grupo de trabajo fue conformado al azar (random), pero con un trébol de cuatro hojas debajo de la manga.
    <p>Tenemos la suerte de tener diversidad, en solo tres integrantes de este dream team. Mauricio, nuestro creativo, llegó con una necesidad real que en seguida cautivó. Matías, con su rapidez y practicidad nos iluminó el camino correcto. Teresa, con sus palabras alentó y comunico a este team.
    <p>Lo podrán ver en el resultado: ¡este equipo está hecho para ganar!</p>
</body>
{% endif %}  

{% endblock %}
</html>