
<!DOCTYPE html>

<html>


{% extends 'app_tareas/plantilla_base.html' %}

{% block contenido %}

{% load static %}
<title>ACERCA DE NOSOTROS</title>


<h1>Acerca de Nosotros</h1>
&nbsp;&nbsp;&nbsp;&nbsp;
<body>
    <p>Nuestro grupo de trabajo fue conformado al azar (random), pero con un trébol de cuatro hojas debajo de la manga.
    <p>Tenemos la suerte de tener diversidad, en solo tres integrantes de este dream team. Mauricio, nuestro creativo, llegó con una necesidad real que en seguida cautivó. Matías, con su rapidez y practicidad nos iluminó el camino correcto. Teresa, con sus palabras alentó y comunico a este team.
    <p>Lo podrán ver en el resultado: ¡este equipo está hecho para ganar!</p>
</body>
<br><br/>
<body>
    <img src={% static 'app_tareas\assets\img\Mauricio.png' %} alt="Mauricio" height="200" width="200">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <img src={% static 'app_tareas\assets\img\tere.jpg' %} alt="Teresa" height="200" width="200">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <img src={% static 'app_tareas\assets\img\Matias2.jpg' %} alt="Matias" height="200" width="200">
    
</body>
<br><br/>
<br><br/>
<h1>Acerca de esta Pagina</h1>
&nbsp;&nbsp;&nbsp;&nbsp;
<body>
    <p>Este proyecto surge de una necesidad real de ordenar y facilitar la sinergia de un grupo de trabajo compuesto por numerosos usuarios.
    <p>Dentro de esta página, cada usuario (operador) puede registrarse, ingresar y visualizar las tareas que tiene asignadas y pendientes. 
    <p>Por otro lado, las categorías y tareas se detallan en cada solapa correspondiente, con posibilidad de buscar y filtrar por descripción o título de la tarea.
    <p>Los usuarios administradores pueden asignar tareas a cada operador y editar.
    <p>La página es muy amigable y verdaderamente útil!! Pruébenla ustedes mismos <span> 😀😀 </span>
    </p>
</body>
<br><br/>


{% endblock %}
</html>