{% extends 'app_tareas/plantilla_base.html' %}

{% block contenido %}

<div class = 'container'>
    <h2>USUARIOS</h2>
    {% comment %} <a href="{% url 'crear_usuario' %}" class="btn btn-primary btn-sm">Agregar</a> {% endcomment %}

</div>
<br>

<div class="container">

    <form action="" method="GET">
        <input type="text" name="buscar">
        <input type="submit" value="Buscar en Nombre" class="btn btn-dark btn-sm">
    </form>
</div>
<br>
<div class ='container'>
    <div class = 'row'>
        <div class = 'col'>
            <table class = 'table  table-hover table-responsive-sm'>
            
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in usuarios %}
                    <tr>
                        <td>{{i.username}}</td> 
                        <td><a href="{% url 'editar_usuario' i.id %}" class="btn btn-warning btn-sm">Editar</a></td>
                          
                    </tr>    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock contenido %}