{% extends 'app_tareas/plantilla_base.html' %}

{% block contenido %}

<div class = 'container'>
    <h2>CATEGORIAS</h2>
    <a href="{% url 'crear_categoria' %}" class="btn btn-primary btn-sm">Agregar</a>

</div>
<br>

<div class="container">

    <form action="" method="GET">
        <input type="text" name="buscar">
        <input type="submit" value="Buscar en Descripcion" class="btn btn-dark btn-sm">
    </form>
</div>
<br>
<div class ='container'>
    <div class = 'row'>
        <div class = 'col'>
            <table class = 'table  table-hover table-responsive-sm'>
            
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in categorias %}
                    <tr>
                        <td>{{i.descripcion}}</td> 
                        <td><a href="{% url 'categoria' i.id %}" class="btn btn-info btn-sm">Detalle</a> 
                        <a href="{% url 'editar_categoria' i.id %}" class="btn btn-warning btn-sm">Editar</a>
                       <a href="{% url 'eliminar_categoria' i.id %}" class="btn btn-danger btn-sm">Eliminar</a></td>                           
                    </tr>    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock contenido %}