{% extends 'app_tareas/plantilla_base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}

<div class='container'>
    <h2>Operadores</h2>
    <form action="" class="formulario_operadores" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {{ form | crispy}}
            </div>     
        </div>   
        <br>
        <button type="submit" , id="btnEnviar", class="btn btn-primary btn-sm">Agregar</button>
        <a href="{% url 'operadores' %}" class="btn btn-primary btn-sm">Volver</a>           
    </form>

</div>


{% endblock contenido %}
